package-lock=false

//gitlab.myteksi.net/api/v4/packages/npm/:_authToken=${GITLAB_PERSONAL_ACCESS_TOKEN}
//gitlab.myteksi.net/api/v4/projects/:_authToken=${GITLAB_PERSONAL_ACCESS_TOKEN}
@geo:registry=https://gitlab.myteksi.net/api/v4/packages/npm/

